.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family: "PTRootUIWebRegular", sans-serif;

  &--group {
    display: flex;
    gap: 16px;
    font-size: 16px;
  }

  &--round {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    width: 44px;
    aspect-ratio: 1/1;
    &.active {
      background-color: var(--accent-color);
      color: white;
      box-shadow: 0 6px 20px 0 #95D0A1;
    }
  }
  &--reset {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;

    &:hover {
      color: coral;
    }
  }
}
